# Gradle
.gradle/
build/
*/build/
!gradle/wrapper/gradle-wrapper.jar

# IDEs
.idea/
*.iml

# Android Studio
local.properties
.cxx/
.externalNativeBuild/
.cordova/
.kotlin/

# OS
.DS_Store
Thumbs.db

# Functions
functions/node_modules/
functions/coverage/
/jdk17
jdk17.zip
